$bp-sm: 600px;
$bp-md: 900px;
$bp-lg: 1200px;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-400: #bdbdbd;
$grey-600: #757575;
$grey-900: #212121;
$lightblue-100: #b3e5fc;
$lightblue-400: #29b6f6;
$lightblue-500: #03a9f4;
$lightblue-600: #039be5;
$red-200: #ef9a9a;
$red-400: #ef5350;
$red-500: #f44336;
$red-800: #c62828;

// Global style
@mixin btnReset {
  padding: 1rem 4rem;
  margin: 1rem;
  background-color: $grey-50;
  border: solid 1px $grey-900;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.2s ease;
  }

  @media only screen and (max-width: $bp-sm) {
    width: 150px;
    padding: 0.5rem 2rem;
    margin: 0.2rem;
  }
}

@mixin detailContainerBP {
  border-radius: 10px;
  border: $grey-900 solid 1px;
  margin: 0.5rem 3rem;
  padding: 1rem;

  @media only screen and (max-width: $bp-sm) {
    margin: 0.5rem 0;
  }
}

@mixin selectOptionReset {
  border: none;
  margin: 1rem;
  font-family: "Roboto Slab";
  outline: none;
  cursor: pointer;
}

@keyframes changeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// App style
.app__container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// Overlay Loading style
.overlay {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

// Home Style
.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 500px;
  }

  h5 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0 0.5rem;
    margin: 1rem;
  }

  @media only screen and (max-width: $bp-sm) {
    img {
      width: 300px;
    }
  }
}

// Navbar Style
.nav__container {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-color: $grey-100;
  justify-content: space-between;

  @media only screen and (max-width: $bp-sm) {
    padding: 0.5rem 1rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    img {
      width: 150px;
    }

    @media only screen and (max-width: $bp-sm) {
      img {
        width: 100px;
      }
      h1 {
        font-size: 1.2rem;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    margin-left: auto;
    a {
      text-decoration: none;
      margin: 0 0.2rem;

      &:hover {
        text-decoration: underline;
        transition: all 0.3s ease;
      }
    }
    @media only screen and (max-width: $bp-sm) {
      display: none;
    }

    .user__profile {
      display: flex;
      align-items: center;
      margin: 0 1rem;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0 0.2rem;
      }
      p {
        font-size: 1rem;
        color: $lightblue-400;
      }
    }
  }

  .mobile__menu {
    display: none;
    @media only screen and (max-width: $bp-sm) {
      display: block;
      padding: 0.5rem;
    }
  }
}

.nav__mobile {
  display: none;
  @media only screen and (max-width: $bp-sm) {
    @keyframes fadeIn {
      from {
        opacity: 0;
        left: -100%;
      }
      to {
        opacity: 1;
        left: 0;
      }
    }
    display: block;
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #000000cc;
    animation: fadeIn 1s;
    z-index: 5;

    a {
      display: block;
      text-decoration: none;
      text-align: center;
      color: $grey-100;
      margin: 1rem 0;
      padding: 0.5rem;

      &:hover {
        text-decoration: underline;
        transition: all 0.3s ease;
      }
    }

    h6 {
      color: #ffffff;
      font-size: 0.8rem;
      margin-top: 2rem;
      padding: 1rem 0.5rem;
      border-top: 1px solid #ffffff;
    }

    .user__profile {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0.2rem;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0 0.2rem;
      }
      p {
        font-size: 1rem;
        color: $lightblue-100;
      }
    }
  }
}
// Articles List Style

.select__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;

  .select__sortBy {
    @include selectOptionReset();
  }
  .select__sortOrder {
    @include selectOptionReset();
  }
}
.articles__container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  align-items: center;
  justify-content: flex-start;

  @media only screen and (max-width: $bp-sm) {
    flex-direction: column;
    align-items: center;
  }
}

// Articles List Item Style
.articleItem__container {
  width: 200px;
  height: 200px;
  border: 1px solid #121212;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
  list-style-type: none;

  &:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.3s ease;
  }

  @media only screen and (max-width: $bp-sm) {
    height: 200px;
    width: 250px;
  }

  a {
    text-decoration: none;
    color: $lightblue-500;
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }
  h4 {
    text-transform: capitalize;
    font-size: 0.9rem;
    margin: 0;
  }
  h6 {
    margin: 0.5rem 0;
    font-weight: 100;
  }
  p {
    margin: 0.5rem 0;
  }
}

// Articles Detail Style

.articleDetail__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &__main {
    @include detailContainerBP();

    h1 {
      font-weight: 700;
    }
    span {
      color: $grey-400;
      font-size: 0.7rem;
    }
    p {
      line-height: 1.5;
    }

    .like__icon {
      color: $lightblue-600;
      font-size: 1.5rem;
    }

    .toggle__comment__btn {
      background-color: #ffffff;
      border: none;
      text-decoration: none;
      cursor: pointer;
      color: $grey-600;
      padding: 0;
    }

    .vote__container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      @media only screen and (max-width: $bp-sm) {
        flex-direction: column;
      }

      .vote__up {
        @include btnReset();
        &:hover {
          background-color: #a5d6a7;
        }
      }
      .vote__down {
        @include btnReset();
        &:hover {
          background-color: $red-200;
        }
      }
    }
  }

  &__comments {
    @include detailContainerBP();
  }

  .btn__showAddComment {
    @include btnReset();
  }
}

// Comment List Item Style

.commentListItem__container {
  list-style-type: none;
  margin: 1rem;
  padding: 1rem;
  background-color: $grey-100;
  border-radius: 10px;

  @media only screen and (max-width: $bp-sm) {
    margin: 0.5rem 0;
  }

  h5 {
    color: $lightblue-400;
  }
  span {
    color: $grey-400;
  }

  .like__icon {
    color: $lightblue-600;
    font-size: 1.5rem;
  }

  .btn__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media only screen and (max-width: $bp-sm) {
      flex-direction: column;
    }

    .vote__up {
      @include btnReset();
      &:hover {
        background-color: #a5d6a7;
      }
    }
    .vote__down {
      @include btnReset();
      &:hover {
        background-color: $red-200;
      }
    }
    .delete__comment {
      @include btnReset();
      color: #ffffff;
      background-color: $red-500;
      &:hover {
        background-color: $red-800;
      }
      &__cancel {
        @include btnReset();
        padding: 1rem 0.5rem;
        background-color: $lightblue-100;
        &:hover {
          background-color: $lightblue-500;
        }
      }
    }
  }
}

// UserList Style
.userList__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem 2rem;

  @media only screen and (max-width: $bp-sm) {
    flex-direction: column;
  }

  .user__container {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 1rem;
    padding: 0.5rem;
    background-color: $grey-100;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      transition: all 0.2s ease;
    }

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }
}

.userList__logout {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-sm) {
    flex-direction: column;
    h2 {
      font-size: 1rem;
    }
  }
  h2 > span {
    color: $lightblue-500;
  }

  button {
    @include btnReset();
  }
}

// CommentCreation Style
.comment__form {
  @include detailContainerBP();
  width: 89%;
  position: relative;

  textarea {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid $grey-900;
    font-size: 1rem;
    font-family: "Roboto Slab";
  }

  button {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0.2rem;
    background-color: white;
    color: $lightblue-400;
    font-weight: 600;
    font-size: 1rem;
    border: none;

    &:hover {
      color: $lightblue-600;
    }
  }
}

// TopicList Style

.topicList__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 2rem;
  list-style-type: none;
  padding: 0 2rem;

  @media only screen and (max-width: $bp-sm) {
    margin: 2rem 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .title {
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    animation: changeOpacity 1s;
  }

  a {
    display: block;
    width: 200px;
    padding: 1rem 0;
    margin: 1rem 0;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: $grey-900;
    background-color: $lightblue-100;
    cursor: pointer;
    animation: changeOpacity 4s;

    &:hover {
      transform: scale(1.1);
      background-color: $lightblue-500;
      color: #ffffff;
      text-shadow: 1px 1px 10px #fff;
      transition: all 0.5s ease;
    }

    @media only screen and (max-width: $bp-sm) {
      width: 80%;
      margin: 0.5rem 0;
    }
  }
}

// TopicArticleList style
.topicArticleList__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn__share {
    background-color: $grey-100;
    border: none;
    width: 200px;
    padding: 1rem 0;
    margin: 0;
    text-align: center;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      background-color: $grey-600;
      color: #ffffff;
      transition: all 0.5s ease;
    }

    @media only screen and (max-width: $bp-sm) {
      width: 80%;
      margin: 0.5rem 0;
    }
  }

  .share__link {
    overflow: auto;
    text-align: center;
    animation: changeOpacity 0.5s;

    @media only screen and (max-width: $bp-sm) {
      width: 80%;
      margin: 0.5rem 0;
    }
  }
}

// Error Page Style
.error__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100vh;
  margin: 2rem;

  @keyframes movingCar {
    0% {
      left: 45%;
    }
    25% {
      left: 90%;
    }
    50% {
      left: 45%;
    }
    75% {
      left: 0;
    }
    100% {
      left: 45%;
    }
  }

  .carMotion {
    position: absolute;
    top: 50%;
    animation: movingCar 5s infinite;

    @media only screen and (max-width: $bp-sm) {
      top: 65%;
    }
  }
}
